.blog {
	&__header {}

	&__posts {}	

	&__post {
		margin: 30px 0 160px;


		@media (max-width: $md2+px) {
			margin-top: 0;
		}

		@media (max-width: $md3+px) {
			margin-bottom: 70px;
		}
	}

	&__recent-post {}

	&__sign-up {
		margin-bottom: 88px;

		@media (max-width: $md3+px) {
			margin-bottom: 70px;
		}
	}

	&__author {}

	&__email-form {
		margin-top: 6px;
	}
}



.header-blog {
	&__body {
		position: relative;

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0; 
			width: 100%;
			height: 100%;
			z-index: 1;
			background-image: linear-gradient(180deg, #003367 0%, #001736 100%);
			opacity: 0.84;
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&__inner {
		position: relative;
		z-index: 2;
		min-height: 350px;
		display: flex;
		padding: 20px 15px;
		justify-content: center;
		align-items: center;
	}
	&__column-left {
		flex: 0 0 145px;
		margin-right: 15px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		height: 100%;

		@media (max-width: $md2+px) {
			flex: 0 0 auto;
		}

		@media (max-width: $md3+px) {
			margin-right: 10px;

			& > a {
				& > span {
					margin: 0;
				}
			}
		}

		& > a {
			& > span {
				margin-left: 0;
			}
		}
	}
	&__column-center {
		flex: 1 1 auto;
		max-width: 1023px;
	}
	&__column-right {
		flex: 0 0 145px;
		margin-left: 15px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		height: 100%;
		padding-right: 22px;

		@media (max-width: $md2+px) {
			padding-right: 0;
			flex: 0 0 auto;
		}

		@media (max-width: $md3+px) {
			margin-left: 10px;
			& > a {
				& > span {
					margin: 0;
				}
			}
		}

		& > a {
			& > span {
				margin-right: 0;
			}
		}
	}
	&__link {
		display: inline-flex;
		align-items: center;
		transition: all .2s ease;
		padding: 15px 5px;
		color: #fff;
		font-size: 11px;
		font-weight: 300;
		letter-spacing: -0.16px;
		white-space: nowrap;

		@media (max-width: $md2+px) {
			font-size: 0;
		}

		& > span {
			width: 18px;
			flex: 0 0 auto;
			margin: 0 10px;

			& img {
				width: 100%;
			}
		}

		@media (min-width: 992px) {
			&:hover {
				background: rgba(#fff, 0.2);
			}
		}
	}
	&__title {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
	}
}


.posts {
	&__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

		& >li {
			flex: 0 0 33.3333%;
			margin-bottom: 135px;
			height: auto;
			padding-bottom: 1px;

			@media (max-width: 800px) {
				flex: 0 0 50%;
			}

			@media (max-width: 575px) {
				flex: 0 0 100%;
				margin-bottom: 70px;
			}

		}	
	}

	&__load-more-btn {
		margin: 68px 0 50px;
		text-align: center;

		@media (max-width: 800px) {
			margin: 0px 0 50px;
		}

		& .btn-default {
			& > span {
				width: 1.36em;
			}
		}
	}
}



.post-blog {
	&__body {
		display: flex;
		flex-wrap: wrap;
		min-height: 427px;

		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}
	&__column {
		&_1 {
			flex: 0 1 672 / 1440 * 100%;
			display: flex;
			flex-direction: column;

			@media (max-width: $md2+px) {
				flex: 0 1 100%;
				margin-bottom: 10px;
				min-height: 400px;
			}

			@media (max-width: $md4+px) {
				min-height: 300px;
			}
		}
		&_2 {
			flex: 0 1 768 / 1440 * 100%;		}
		&_3 {
			flex: 0 1 768 / 1440 * 100%;
			margin-left: auto;
			padding: 0 15px;
			margin-top: 16px;

			@media (max-width: $md2+px) {
				flex: 0 1 100%;
				margin-left: 0;
			}
		}
	}
	&__img {
		flex: 1 1 auto;
		margin-right: 10%;

		@media (max-width: $md2+px) {
			margin-right: 0;
		}
	}
	&__text-wrap {
		max-width: 719px;
		padding: 0 15px;

		@media (max-width: $md2+px) {
			max-width: none;
		}
	}
	&__date {
		margin-top: 11px;
		margin-bottom: 17px;
		color: #000000;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: -0.16px;
	}
	&__author {
		margin-bottom: 38px;
		color: #000000;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: -0.16px;
	}
	&__btn-leave-comment {
		transition: all .3s ease;
	}
	&__comments {}
}


.comments {
	margin: 30px 0 30px;
	padding-right: 15px;

	& > li {
		position: relative;
		padding-left: 47px;
		padding-top: 10px;
		max-width: 685px;
		margin-bottom: 25px;

		@media (max-width: $md3+px) {
			padding-left: 30px;

			&:before {
				left: 0;
			}
		}

		& > ul {
			margin: 0;

			& > li {
				padding-left: 30px;
				margin-bottom: 5px;

				@media (max-width: $md3+px) {
					padding-left: 15px;
				}

				&:before {
					display: none;
				}
			}
		}

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 15px;
			width: 20px;
			height: 30px;
			background: url(../img/icons/pencil.svg) center no-repeat;
		}
	}
	&__text {
		color: #000000;
		font-size: 12px;
		font-weight: 300;
		font-style: normal;
		letter-spacing: -0.0128em;
		margin-bottom:10px;
		line-height: 1.5em;
	}
	&__sub-text {
		margin-bottom: 17px;
		& > span {
			color: #32c5ff;
			font-size: 12px;
			font-weight: 700;
			letter-spacing: -0.16px;
			white-space: nowrap;

			&:first-child {
				font-family: "Closer-LightItalic", sans-serif;
				margin-right: 15px;
			}
		}
	}

	&__reply {
		background: transparent;
		display: flex;
		align-items: center;
		font-family: "Closer-LightItalic", sans-serif;
		font-size: 12px;
		transition: all .2s ease;
		padding: 5px;
		margin-left: -5px;

		@media (min-width: 992px) {
			&:hover {
				background: rgba(#000 ,0.1);
			}
		}

		& > span {
			width: 23px;
			margin-right: 5px;

			& img {
				width: 100%;
			}
		}
	}

	&__form {}
}


.form-comment {
	max-width: 685px;
	display: none;
	&__item {
		margin-bottom: 15px;

		& > p {
			font-family: "Closer-LightItalic", sans-serif;
			font-size: 12px;
		}
	}

	&__label {
		font-family: "Closer-LightItalic", sans-serif;
		font-size: 12px;
		margin-bottom: 10px;
		display: inline-block;
	}
	&__input {
		min-height: 25px;
		border: 1px solid #6d7278;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 10px;

		font-size: 12px;
		font-weight: 300;
		font-style: normal;
		letter-spacing: -0.0128em;
		margin-bottom:10px;
		line-height: 1.5em;

		&:focus {
			font-size: 12px;
			font-weight: 300;
			font-style: normal;
			letter-spacing: -0.0128em;
			margin-bottom:10px;
			line-height: 1.5em;
			border: 1px solid #000;
		}

	}
	&__textarea {
		min-height: 165px;
		border: 1px solid #6d7278;
		width: 100%;
		padding:10px;
		resize: none;

		font-size: 12px;
		font-weight: 300;
		font-style: normal;
		letter-spacing: -0.0128em;
		margin-bottom:10px;
		line-height: 1.5em;

		&:focus {
			font-size: 12px;
			font-weight: 300;
			font-style: normal;
			letter-spacing: -0.0128em;
			margin-bottom:10px;
			line-height: 1.5em;
			border: 1px solid #000;
		}
	}
	&__btn-wrap {
		display: flex;
		flex-wrap: wrap;

		& > button {
			margin-bottom: 16px;

			@media (max-width: $md3+px) {
				font-size: 12px;
			}

			@media (max-width: $md4+px) {
				font-size: 9px;
			}
		}
	}
	&__submit {
		margin-right: 3.92em;
	}
	&__cancel {
		border-color: #6d7278;

		@media (min-width: 992px) {
			&:hover {
				background: rgba(#000, 0.1);
			}
		}
	}
}





.recent-posts {
	& .container-big {
		position: relative;
	}

	&__title {
		position: absolute;
		top: 68px;
		left: 65px;

		@media (max-width: $md2+px) {
			top: 30px;
			left: 20px;
		}
	}

	& .swiper-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		@media (max-width: $md3+px) {
			flex-wrap: nowrap;

		}
	}

	& .swiper-slide {
		flex: 0 0 33.3333%;
		height: auto;

		@media (max-width: $md3+px) {
			flex: 0 0 auto;
			width: auto;

			& .post-card {
				width: 280px;
			}
		}
	}
}

.post-card {
	display: block;
	color: #000;
	transition: all .2s ease;
	height: 100%;
	padding: 110px 50px 110px;

	@media (min-width: 992px) {
		&:hover {
			background: rgba(#000, 0.05);
		}
	}

	@media (max-width: $md2+px) {
		padding: 80px 40px 80px;
	}

	@media (max-width: $md3+px) {
		padding: 80px 20px 80px;
	}

	&__inner {
		max-width: 366px;
	}

	&__date {
		color: #000000;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: -0.16px;
		margin-bottom: 10px;
	}
	&__author {
		color: #000000;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: -0.16px;
		margin-bottom: 10px;
	}
	&__text {
		color: #000000;
		font-size: 26px;
		font-weight: 300;
		letter-spacing: -0.0130em;
		line-height: 1.1em;

		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}
}
